*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration:none;
    list-style: none;
}
body{
    background-color: white;
}
.header{
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    padding: 20px 35px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.logo{
    transition: 0.3s ease;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;

}

.navbar a{
    font-size: 16px;
    margin: 0px 15px;
    transition: 0.3s;
}

