*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-style:normal;
}
/* header */
.header{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

.nav-links{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:15px;
}

.navbar a{
    text-transform:uppercase;
    margin: 0 15px;
    font-size: 17px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(51, 51, 51);
}
.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
} 
.logo{
    transition:0.3s ease;
}
.logo:hover{
    text-shadow: 0 0 25px black;
    transform: scale(1.1);
}
.nav-btn{
    padding: 13px 65px;
    border-radius: 30px;
    border: 2px solid black;
    transition: 0.5s ease;
}

.nav-btn:hover{
    background-color: rgb(51, 51, 51);
    color: white;
}
/* Hero Section */
.hero{
    background-image: url(https://lof8sc.yourbrand.studio/files/dynamicContent/sites/lof8sc/images/en/webpage_13/m5p6d1a5/element_252/rwdMode_1/2400x700/main.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:125vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adventure{
    color: white;
    font-style: italic;
    font-size: 28px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Lora", serif;
    text-size-adjust: 100%;
}
.hero h1{
    font-size: 55px;
    font-style: normal;
    font-weight: 600;
    line-height: 66px;
    color: white;
    margin:20px 0;
}
.btn{
    background-color: white;
    color: black;
    margin-top: 25px;
    padding: 10px 65px;
    border: none;
    line-height: 27px;
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
}
.btn:hover{
    background-color:rgb(51, 51, 51);
    color: white;
}
/* Section 2 */
.content-two{
    margin-top: 60px;
   text-align: center;
   height: 35vh;
   /* width: 900px; */
   align-items: center;
}
.impress{
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    font-weight: 400px;
    line-height: 40px;
    margin-bottom: 15px;
    color: rgb(51, 51, 51);
    display: block;
}
.extreme{
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 34px;
    font-weight: 400px;
    line-height: 40px;
    margin-bottom: 15px;
    color: rgb(51, 51, 51);
    display: block;
}
.sec-two{
    color: rgb(51, 51, 51);
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    font-size: 19px;
    margin-bottom: 28px;
}
.sec-p{
    font-style: italic;
    font-size: 19px;
    font-family: "Lora", serif;
    font: weight 400;
    line-height: 28px;
    display: inline;
    color: rgb(78, 94,102);
    overflow-wrap: break-word;
}
.p-two{
    color: rgb(49,128,86);
}
/* Section Three */
.content-three{
    margin: 100px 0 0 100px;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.sec-three-div{
    margin: auto;
    text-align: center;
    width: 500px;
}
.head-three{
    color: rgb(121, 166, 144);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    width: auto;
    margin-bottom:20px;
}
.sec-three-p{
    color: rgb(51, 51, 51);
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 31px;
    font-size: 21px;
}
.btn-1{
    background-color: rgb(121, 166, 144);
    color:rgb(251, 251, 251);
    margin-top: 25px;
    padding: 10px 65px;
    border: none;
    line-height: 27px;
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
}
/* Section Four */
.content-four{
    margin:100px 100px 0 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}
.content-four img{
    width: 500px;
}
.sec-four-div{
    margin: auto;
    text-align: center;
    width: 500px;
}
.head-four{
    color: rgb(121, 166, 144);
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    width: auto;
    margin-bottom:20px;
}
.sec-four-p{
    color: rgb(51, 51, 51);
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 31px;
    font-size: 21px;
}
/* Section Five:Gallery */
.gal{
    display: block;
    text-align: center;
    font-family: "Lora", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 70px;
    margin-top: 100px;
}
.gallery {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 10px;
    width: 90%;
    margin: auto;
    align-items: stretch;
    cursor: pointer;
}

.large {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .small-images {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
} */

.small-images img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.reach-us{
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    font-family: "Lora", serif;
}
.reach-us h3{
    color: rgb(51, 51, 51);
    font-size: 28px;
    text-decoration-style: solid;
    line-height: 31px;
    font-weight: 800;
    font-style: normal;
}
.contact-btn{
    background-color: rgb(121, 166, 144);
    color:rgb(251, 251, 251);
    padding: 10px 65px;
    border: none;
    line-height: 25px;
    font-family: "Lora", serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    border-radius: 30px;
    cursor: pointer;
    transition: 0.5s ease;
}
.footer{
    margin-top: 70px;
    background-color: rgb(78, 94, 102);
    background-size: auto;
    border-bottom-color: rgb(51, 51, 51);
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    height: 200px;
    border-bottom:0px;
    color: rgb(251, 251, 251);
}
.check{
   padding:30px 0;
   font-weight: 700;
   font-family: Roboto;
   line-height: 18px;
}
.socials img{
    width:35px;
    height:35px;
}
.socials{
    display: block;
    padding-bottom: 30px;
}
.socials a{
    margin: 0 10px;
}
.last-p{
    font-family: "Lora", serif;
    line-height: 18px;
}
.wave{
    color: rgb(0, 198, 94);
}