*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    background-color: white;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style:normal;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 40px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    font-family: Roboto;
}

.nav-links{
  display:flex;
  justify-content: space-between;
  align-items: center;
  gap:15px;
}

.navbar a{
    text-transform:uppercase;
    margin: 0 15px;
    font-size: 15px;
    font-weight: bold;
    color: grey;
}
  
.logo{
    transition:0.3s ease;
}
.logo:hover{
    text-shadow: 0 0 25px black;
    transform: scale(1.1);
}
.nav-btn{
    padding: 15px 50px;
    border-radius: 25px;
    border: 2px solid black;

}

.nav-btn:hover{
    background-color: black;
    color: white;
}
.hero{
    background-image: url(https://lof8sc.yourbrand.studio/files/dynamicContent/sites/lof8sc/images/en/webpage_13/m5p6d1a5/element_252/rwdMode_1/2400x700/main.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:125vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.adventure{
    color: white;
    font-style: italic;
    font-size: 25px;
}
.hero h1{
    font-size: 45px;
    color: white;
    margin:20px 0;
}
.btn{
    background-color: white;
    color: black;
    padding: 15px 40px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
.btn:hover{
    background-color: black;
    color: white;
}
.content-two{
    margin-top: 45px;
   text-align: center;
   width: 1200px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: centerg;
}